@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,300&display=swap');
body{
font-family: 'Jost', sans-serif;
position: relative;   
}



.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 1.5rem 1rem 1.5rem;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
   
}
.header__logo{
    margin: 1rem;
}
.header__nav{
    margin: 1rem;
    padding: 1rem;
    flex-grow: 1;
}
.header__items{
    margin-right: 1rem;
    color: black;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}
.header__items:hover{
    padding-bottom: 43px;
    border-bottom: 5px solid black;
}
.header__icon{
    transform: rotate(90deg);
}

.header__secondary-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1rem;
}
.header__secondary-items{
    margin-right: 1rem;
    color: black;
    text-decoration: none;
    padding: 1rem;
}
.header__panier{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__card-icon{
    height: 25.65px;
    width: 18.72px;
}

.main-footer{
    height: 250px;
    display: flex;
    justify-content: space-between;
    padding: 5rem;
    background-color: black;
    color: white;
}
.footer__part {
    display: flex;
    flex-direction: column;
    margin: 0rem 1rem 0rem 1rem;
}
.footer__logo{
    padding-bottom: 1rem;
}
.footer__mail{
    color: white;
    padding-bottom: 1rem;
}
.footer__content-icon{
    display: flex;
    align-items: center;
}
.footer__icons{
    padding-right: 1rem;
}
.footer__title{
    padding-bottom: 1rem;
}
.footer__adresse{
    padding-bottom: 1rem;
}

/* Article 1 */
.article__1{
    padding: 5rem 3rem 5rem 3rem;
    background-color: #FFE401;
    display: flex;
    flex-direction: row;
    margin-top: 7rem;
}
.article__container{
    width: calc((100%/2) - (2*1rem));
    margin: 1rem;
    padding: 1rem;
}
.article__img{
    border-radius: 10px;
    width: 100%;
}
.background__img{
    background-image: url(/images/Tracé-blanc.svg) ;
    background-repeat:no-repeat ;
}
.article__subtitle{
    text-transform: uppercase;
    font-size: 18px;
    margin-left: 5rem;
    margin-bottom: 1rem;
}
.article__title{
    font-size: 70px;
    font-weight: 550;
    margin-bottom: 4rem;
}
.article__bouton{
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 5%;
    padding: 1rem;
}

/* Article 2 */

.article__2{
    background-color: #F8F8F8;
    padding: 2rem;
}
.article__2-title{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 1rem;
}
.article__2-main-content{
    display: flex;
    flex-direction: row;
    margin: 1rem;
}
.article__2-content{
    text-align: center;
    margin: 2rem;
}
.article__2-icons{
    padding-bottom: 1rem;
}
.article__2-subtitle{
    padding-bottom: 1rem;
    font-size: 25px;
}
.article__description{
    color: #4A4A4A;
    font-size: 16px;
}

/* Article 3 */
.article__3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem 10rem 1rem 10rem;
}
.article__3-title{
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    font-weight: 550;
    margin-bottom: 1rem;
    background-image: url(/images/Tracé-jaune.svg);
    background-repeat: no-repeat;
    background-position-x: center;
}
.article__3-description{
    text-align: center;
    font-size: 16px;
    color:#4A4A4A ;
    margin-bottom: 3rem;
}

/* Article 4 */
.article__4{
    display: flex;
    flex-direction: row;
}
.card{
    background-color: #FCFCFC;
    width: calc((100%/3) - (2*1rem));
    border: 1px solid #ccc;
    border-radius: 1px solid #E8E8E8;
    border-radius: 10px;
    margin: 1rem;  
    padding: 1rem 1rem 2rem 1rem;
    box-sizing: border-box;
    position: relative;
}
.card__img{
    width: 100%;
}
.card__description{
    display: flex;
    flex-direction: row;
    margin: 1rem 0rem 1rem 0rem;
}

.card__content{
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
    font-size: 14px;
}
.card__icon{
    margin-right: 1rem;
}

.card__paragarphe{
    white-space: nowrap;
    font-size: 14px;
    color:#00A335 ;
}

.card__title{
    font-size: 24px;
    font-weight: 550;
    margin-bottom: 1rem;
}
.card__text{
    font-size: 16px;
    color: #4A4A4A;
    margin-bottom: 3rem;
}
.card__bouton{
    position: absolute;
    right: 20px;
    bottom: 10px;
}

.bouton__content-voir-les-cours{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.bouton__voir-tous-les-cours{
    text-transform: uppercase;
    color: black;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    background-color: #EFEFEF;
    border-radius: 10px ;
    padding: 1rem;
}

/* Artilce 5-6 */
.article__5{
    display: flex;
    flex-direction: row;
    margin: 0rem 3rem;
    align-items: center;
}

.article__5-title{
    font-size: 40px;
    font-weight: 550;
    margin-bottom: 0.5rem;
}
.article__5-description{
    color: #4A4A4A;
    font-size: 18px;
    margin: 1rem 3rem 5rem 0rem;
}
.article__5-bouton{
    text-transform: uppercase;
    text-decoration: none;
    color:black;
    background-color:white;
    border : 1px solid black;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 5rem;
    font-size: 14px;
}

/* Modifier */

.border--right{
    border-right: 1px solid #717171;
}

.color--gray{
    color:#717171;
    opacity: 0.8;
}

.bouton--commencer{
    background-color:  #FFE401;
    border-radius: 10%;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem;
    color: black;
    font-size: 14px;
    font-weight: 500;

}
.font--weight--bold{
    font-weight: 500;
}

label, #toggle
{
    display: none;
}

/*------------- Responsive */
@media screen and (min-width: 671px) and (max-width: 1274px) {
   
    .header {
        display: flex;
        flex-direction: column;
        margin-bottom: 8rem;

    }
    .article__1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 20rem;
    }
    .background__img{
        background-position: center;
    }
    .article__subtitle{
        margin: 0rem 0rem 2rem 0rem;
    }
    .article__4{
        display: flex;
        flex-direction: column;
    }
    .card{
       margin: 2rem;
       width: calc((100%/1) - (2*2rem));
    }

    .card__description{
        display: flex;
        flex-wrap: wrap;
    }
    .card__description{
        display: flex;
        flex-wrap: wrap;
    }

    .article__5{
        display: flex;
        flex-wrap: wrap;
    }
    .article__container{
        width: calc((100%/1) - (2rem));
        margin: 1rem 0rem 1rem 0rem;
        text-align: center;
    }
    .article__5-description{
        margin: 1rem 0rem 3rem 0rem;
    }
    .main-footer{
        display: flex;
        flex-direction: column;
      
        height: 750px;
    }
    .footer__part{
        align-items: center;
        width: 100%;
        margin: 1rem 0rem 2rem 0rem;
    }
}
@media screen and (max-width: 671px) {
    .main-content{
        margin-top: 20 rem;
    }
    .header {
        display: flex;
        flex-direction: column;
        margin-bottom: 8rem;
    }
    .article__1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .article__subtitle{
        margin: 0rem 0rem 1rem 0rem;
    }
    .article__title{
        font-size: 30px;
    }
    .background__img{
        background-position: center;
    }

    .article__2-main-content{
        display: flex;
        flex-direction: column;
    }

    .article__3{
        margin: 1rem 2rem;
        display: flex;
        flex-wrap: wrap;
    }
    .article__3-title{
        font-size: 30px;
    }

    .article__4{
        display: flex;
        flex-direction: column;
    }
    .card{
       margin: 1rem;
       width: calc((100%/1) - (2*1rem));
    }

    .card__description{
        display: flex;
        flex-wrap: wrap;
    }

    .article__5{
        display: flex;
        flex-wrap: wrap;
    }
    .article__container{
        width: calc((100%/1) - (2rem));
        margin: 1rem 0rem 1rem 0rem;
        text-align: center;
    }
    .article__5-description{
        margin: 1rem 0rem 3rem 0rem;
    }
    .main-footer{
        display: flex;
        flex-direction: column;
        height: 690px;
    }
    .footer__part{
        margin: 1rem 0rem 2rem 0rem;
    }
}

@media screen and (max-width: 600px) {

    .header__nav {
        display: none;
    }
 
    label 
    {
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        font-size: 30px;
        color:black;
        cursor: pointer;
    }
    #toggle:checked + .header__nav {
        display: flex;
    }
}


